/* TYPOGRAPHY */

body {
	font-family: Lato;
	font-weight: 300;
}

p {
	font-size: 1.125em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 11vw;
}

.byline {
	font-size: 2em;
	color: rgb(137,159,123);
	font-weight: 100;
}

/* LINKS */

a {
	color: rgb(137,159,123);
}

a:hover {
	color: #999;
}

nav a {
	color: rgb(137,159,123);
}

nav a:hover {
	color: #999;
}

/* ALIGNMENT & BORDERS */

.row	{
	padding-top: 50px;
	min-height: 100vh; /* full screen height */
	padding-bottom: 1em;
}

/* give every row but the last one a bottom border for nice row divisions when scrolling */

.row:not(:last-child) {
	border-bottom: 1px solid #CCC;
}

.header {
	padding-top: 30vh; /* set in vh to scale with screen size */
	background: rgb(54,94,82);
	color: #FFFFFF;
	text-transform: uppercase;
}

.navbar-right {
	float: right!important;
}

/* give images same top margin as h2 (used for row headers) so row contents line up nicely */

img	{
	margin-top: 20px;
}